TELEGRAM_BOT_TOKEN=
ALLOWED_USERS=
GROUP_CHAT_ID=
CLAUDE_CODE_OAUTH_TOKEN=
CLAUDE_MODEL=claude-sonnet-4-6
WORKING_DIR=/home/claude/workspace
OPENAI_API_KEY=
TRELLO_API_KEY=
TRELLO_SECRET=
TRELLO_TOKEN=
GITHUB_TOKEN=
GITHUB_USERNAME=
